name: docker test

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - README.md
      - .github/workflows/test_docker.yml
      - tests/test_docker.sh

  pull_request:
    branches: [ master ]
    paths:
      - README.md
      - .github/workflows/test_docker.yml
      - tests/test_docker.sh

jobs:
  test_docker_pipeline:
    runs-on: ubuntu-24.04
    container: 
      image: vnmd/vesselboost_1.0.0:latest
      volumes:
        - /home/runner/:/home/
    steps:
    - uses: actions/checkout@v3
    - name: test docker container
      env:
        ACTIONS_RUNNER_FORCED_INTERNAL_NODE_VERSION: node16
        ACTIONS_RUNNER_FORCE_ACTIONS_NODE_VERSION: node16
        OSF_TOKEN_: ${{ secrets.OSF_KEY }}
        OSF_USERNAME_: ${{ secrets.OSF_USERNAME }}
        OSF_PROJECT_ID_: "abk4p" 
      run: |
        /bin/bash tests/test_docker.sh
